openapi: 3.0.0
info:
  version: '1.0'
  title: SE API Docs
  description: |
    ## About this document

    This is the unofficial StreamElements REST API documentation. 
    Here you will find an updated list of StreamElements endpoints that are not available on the official [developer website](https://dev.streamelements.com) or [docs](https://docs.streamelements.com) page.

    For some time, I have been collecting and documenting as many endpoints as I could from [https://api.streamelements.com/kappa/](https://api.streamelements.com/kappa/) and putting them together in a way I could understand and use it.

    This page is a result of that, where I now have the endpoints added, with body and response examples and query parameters fixed. 

    Also, there are some endpoints/operations that don't work, and they were moved to `wonky - not working` group folder. 
    As the name suggests, these are endpoints that don't work as expected or lack enough information to use them properly.

    Not a single endpoint/operation was removed from the official documentation. This page contains all same ones from the official documentation (and more), but with examples and explanations.

    Every operation now includes response examples and, where needed, body examples with some explanations to make things clearer.

    ## Repository

    This documentation is available on my Github repository ([https://github.com/c4ldas/streamelements-api](https://github.com/c4ldas/streamelements-api)) and it is open (and appreciated) for suggestions.

    So if you spot any error, missing info, wrong info or even any odd word or sentence, feel free to contact me or open an issue on Github page.

    ## How to use it

    In order to use StreamElements API, you just need to have an StreamElements account linking your Twitch / Youtube / Trovo / Twitter account.

    With your SE account created, you can make requests just using the below:

    - Channel id

    - Token

    You can understand what they are in the next topics

    ### Channel Id

    Channel Id is also known as Account Id and it is a code that represents your channel / profile. That info is public and safe to share.

    You can obtain your channel Id in your StreamElements dashboard using this link: [https://streamelements.com/dashboard/account/channels](https://streamelements.com/dashboard/account/channels)

    ### Token

    Token is a private code and should not be shared not put in a front end application. That token should be kept secret, treat them like your password.

    Tokens are used for authorization / authentication for certain requests. 

    This API documentation uses 3 types of token. 
    - JWT
    - Overlay Token
    - oAuth2

    In the next topics you will have more information on how to obtain those tokens.

    Note: Not all operations accept all types of token. Most of them accept JWT, some use Oauth2 and a few will support Overlay Token. 
    When trying to use a non-supported type of authentication, you will receive a `403 - Forbidden` message.

    You can see on each operation which types they support.    

    ### - JWT 

    It is the bearer token, most endpoints use this one and it is focused on personal projects. 

    Use it with `bearer` prefix in the Authorization header.

    Example: `Authorization: bearer TOKEN`

    You can find your JWT in https://streamelements.com/dashboard/account/channels

    ### - Overlay Token 

    This is the token you can mostly use with endpoints related to overlays and custom widgets. 

    Use it with `apikey` prefix in the Authorization header

    Example: `Authorization: apikey TOKEN`

    You can find your Overlay token in https://streamelements.com/dashboard/account/channels

    You can also find it in a custom widget when using `onWidgetLoad` event listener.

    ```js
    window.addEventListener("onWidgetLoad", (obj) => {
      const token = obj.detail.channel.apiToken;
      console.log("Overlay token:", token);
    })
    ```

    ### - oAuth2 Token 

    It is the oAuth token you can use it after receiving a Client ID and Client Secret. 

    Use it with `oAuth` or `oauth2` prefix in the Authorization header.

    Example: `Authorization: oauth2 TOKEN`

    You can request oAuth access using the form in https://strms.net/oauth2_request

    ## Improvements

    If you spot any errors or think something could be improved, please let me know!
    Also, if an endpoint doesn't make sense or isn't clear enough, that's a sign it needs more explanation — don't hesitate to reach out with your questions on Github repository.

    Good luck and happy coding!
  termsOfService: ''
  contact:
    email: support@streamelements.com
    name: StreamElements
    url: 'https://streamelements.com'
  license:
    url: 'https://streamelements.com/dashboard'
    name: StreamElements Dashboard
servers:
  - url: 'https://api.streamelements.com/kappa/v2'
    description: V2
  - url: 'https://api.streamelements.com/kappa/v3'
    description: V3
paths:
  '/activities/{channel}':
    get:
      tags:
        - activities
      summary: '/:channel'
      description: |
        List channel activities. That's what you see in your Activity Feed.

        **Note**: If using `/v3/`, the parameters `before` and `after` are not used, as the result has pagination.  

        You can use the query parameter `cursor` to go to the next page.
      operationId: 'Get/activities/:channel'
      parameters:
        - name: after
          in: query
          description: |
            Start date - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format
          required: true
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
                description: |
                  Start Date.

                  Date in ISO 8061 format. Examples: `2020-01-01` or `2020-01-01T00:00:00` or `2020-01-01T00:00:00Z`.

                  Only for `/v2/`.
              - type: number
                description: |
                  Start Date. 

                  Timestamp in milliseconds or Unix epoch time. Examples: `1577836800` or `1577836800000`.

                  Only for `/v2/`.
            example: 2020-01-01 or 1577836800000
        - name: before
          in: query
          description: |
            End date - either timestamp in milliseconds (unix timestamp*1000) or string in ISO 8061 format
          required: true
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
                description: |
                  End Date. 

                  Date in ISO 8061 format. Examples: `2021-10-31` or `2021-10-31T00:00:00` or `2021-10-31T00:00:00Z`.

                  Only for `/v2/`.
              - type: number
                description: |
                  End Date. 

                  Timestamp in milliseconds or Unix epoch time. Examples: `1635638400` or `1635638400000`.

                  Only for `/v2/`.
            example: 2021-10-31 or 1635638400
        - name: limit
          in: query
          description: integer - events per page between 1 and 500
          required: true
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
        - name: mincheer
          in: query
          description: integer - minimum amount of bits in cheer
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: minhost
          in: query
          description: integer - minimum amount of viewers in host
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: minsub
          in: query
          description: integer - minimum amount of subscription's months
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: mintip
          in: query
          description: integer - minimum amount of tip
          required: false
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: origin
          in: query
          description: string - feed
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: feed
        - name: cursor
          in: query
          description: string - pagination to the next result. Only for `/v3/`
          required: false
          style: form
          explode: true
          schema:
            type: string
            example: Njc2NjJmMTNmMWFmNTg4NWIxZGRiOWQy
        - name: types
          in: query
          description: |
            The type of activities to filter by. Supported formats:
            - Repeated parameters: `types=follow&types=redemption&types=cheer`
            - JSON-like array: `types=["follow", "redemption", "cheer"]`
            - Available values: tip, sponsor, sponsorship, sponsorshipPassive, superchat, giftedMembers, host, raid, subscriber, cheer, follow, redemption, merch
          required: true
          style: form
          explode: true
          schema:
            oneOf:
              - type: string
                description: |
                  A repeated parameter format. Example: `types=follow&types=redemption&types=cheer`
                  - Available values: tip, sponsor, sponsorship, sponsorshipPassive, superchat, giftedMembers, host, raid, subscriber, cheer, follow, redemption, merch            
              - type: array
                description: |
                  A JSON-like array as a string. Example: `type=["follow", "redemption", "cheer"]`
                  - Available values: tip, sponsor, sponsorship, sponsorshipPassive, superchat, giftedMembers, host, raid, subscriber, cheer, follow, redemption, merch                          
                items:
                  type: string
                  enum:
                    - tip
                    - sponsor
                    - superchat
                    - host
                    - raid
                    - subscriber
                    - cheer
                    - follow
                    - redemption
                    - merch
            example: '["follow", "tip", "sponsor", "superchat", "host", "raid", "subscriber", "cheer", "redemption", "merch"]'
        - name: count
          in: query
          description: boolean - show total in response. That changes the format of the response from array to object
          schema:
            type: boolean
        - name: channel
          in: path
          description: guid - Account ID
          required: true
          style: simple
          schema:
            type: string
            format: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: |
            Notes:

            If `count` is set to `false` or not set, the response will be changed to an array. 

            The result will be the value of `docs` example response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    x-stoplight:
                      id: 89igv0ptgreel
                    format: int32
                  docs:
                    type: array
                    x-stoplight:
                      id: mrn4zkz4jrw05
                    items:
                      $ref: '#/components/schemas/Success'
              examples:
                Example:
                  value:
                    total: 2300
                    docs:
                      - _id: 6767794c84a5faab8337ffea
                        type: redemption
                        channel: 5f2de5dd9a474a2c2aaaaaaa
                        data:
                          amount: 0
                          username: username3
                          message: teste message
                          redemption: Message
                          avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                        createdAt: '2024-12-22T02:28:28.550Z'
                        updatedAt: '2024-12-22T02:28:28.550Z'
                      - _id: 675d3297c60c0175abb88ec1
                        type: tip
                        provider: twitch
                        channel: 5f2de5dd9a474a2c2aaaaaaa
                        createdAt: '2024-12-14T07:24:07.065Z'
                        data:
                          amount: 12
                          currency: BRL
                          username: username2
                          tipId: 675d32973f0fb9b2424b4cb3
                          message: This is a message
                          avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                        updatedAt: '2024-12-14T07:24:07.065Z'
                      - _id: 675d1d6431d7e5602a2087e6
                        type: subscriber
                        provider: twitch
                        channel: 5f2de5dd9a474a2c2aaaaaaa
                        data:
                          amount: 3
                          username: MrSim
                          message: This is a message
                          avatar: 'https://link/to/image.png'
                        createdAt: '2024-12-14T05:53:40.958Z'
                        updatedAt: '2024-12-14T05:53:40.958Z'
                      - _id: 6758d03f3f8de96843d1d35c
                        type: follow
                        provider: twitch
                        channel: 5f2de5dd9a474a2c2aaaaaaa
                        flagged: false
                        createdAt: '2024-12-10T23:35:27.941Z'
                        data:
                          username: mrsim
                          displayName: MrSim
                          providerId: '1159028596'
                          quantity: 0
                          avatar: 'https://static-cdn.jtvnw.net/jtv_user_pictures/example-profile_image-300x300.png'
                        updatedAt: '2024-12-10T23:35:27.941Z'
                      - _id: 675651f5e48b0eb5037db1e0
                        type: cheer
                        provider: twitch
                        channel: 5f2de5dd9a474a2c2aaaaaaa
                        data:
                          amount: 100
                          username: MrSim
                          message: This is a message
                          avatar: 'https://static-cdn.jtvnw.net/jtv_user_pictures/example-profile_image-70x70.png'
                        createdAt: '2024-12-09T02:12:05.009Z'
                        updatedAt: '2024-12-09T02:12:05.009Z'
        '400':
          description: Bad Request
          content:
            application/json:
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "types" fails because ["types" must be an array, "types" is not allowed to be empty, "types" must be one of [follow, tip, sponsor, superchat, host, raid, subscriber, cheer, redemption, merch]]. child "limit" fails because ["limit" must be a number]. child "after" fails because ["after" must be a number of milliseconds or valid date string]. child "before" fails because ["before" must be a number of milliseconds or valid date string]. child "origin" fails because ["origin" is not allowed to be empty]. child "minhost" fails because ["minhost" must be a number]. child "mintip" fails because ["mintip" must be a number]. child "mincheer" fails because ["mincheer" must be a number]. child "minsub" fails because ["minsub" must be a number]'
                    details:
                      - path:
                          - types
                        message: '"types" must be an array'
                      - path:
                          - types
                        message: '"types" is not allowed to be empty'
                      - path:
                          - types
                        message: '"types" must be one of [follow, tip, sponsor, superchat, host, raid, subscriber, cheer, redemption, merch]'
                      - path:
                          - limit
                        message: '"limit" must be a number'
                      - path:
                          - after
                        message: '"after" must be a number of milliseconds or valid date string'
                      - path:
                          - before
                        message: '"before" must be a number of milliseconds or valid date string'
                      - path:
                          - origin
                        message: '"origin" is not allowed to be empty'
                      - path:
                          - minhost
                        message: '"minhost" must be a number'
                      - path:
                          - mintip
                        message: '"mintip" must be a number'
                      - path:
                          - mincheer
                        message: '"mincheer" must be a number'
                      - path:
                          - minsub
                        message: '"minsub" must be a number'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'activities:read'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
    post:
      tags:
        - activities
      summary: '/:channel'
      description: |
        Post a new activity

        **As this endpoint impacts directly on Activity feed, sending wrong data body can break it (making it blank)!**

        **If that happens, send at least 50 new events to restore it.**
      operationId: 'Post/activities/:channel'
      parameters:
        - name: channel
          in: path
          description: guid - Account ID
          required: true
          style: simple
          schema:
            type: string
            format: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: |
          Each `type` requires different `data` object. Here are some examples:

          ## Twitch
          ### - follow
          ```json
          {
            "type": "follow",  
            "provider": "twitch",
            "data": {
              "providerId": "1234567", // optional, but make sure to use the actual Twitch user ID
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ```

          ### - subscriber
          ```json
          {
            "type": "subscriber",
            "provider": "twitch",
            "activityGroup":"9876543219876", // community gifts only
            "data": {
              "amount": 1,
              "message": "This is a message", // resubs only
              "username": "MrSim", // either subscriber or gifted user
              "sender": "MrGifter", // subgifts and community gifts only
              "gifted": true, // subgifts only
              "bulkGifted": true, // community gifts only (not sure, I don't use it and it works fine)
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - communityGift
          _This event has an "activityGroup" key that you will need to add to the gifted subscribers. The actual value is irrelevant as long as you use the same for the gifted one._

          _The "amount" value represents how many gifts were given, and you will need to send the same amount of subscriber alerts with same "activityGroup" value._

          _More info [here](https://github.com/c4ldas/streamelements-api/issues/7)_ 
          ```json
          {
            "type": "communityGiftPurchase",
            "activityGroup": "1234567891234", // Any value, but use the same on gifted ones, to group them together
            "provider": "twitch",
            "data": {
              "amount": 3, // That means 3 gifted subscriber events will need to be sent afterwards
              "username": "mrsim",
              "displayName": "MrSim", 
              "avatar": "https://cdn.streamelements.com/assets/dashboard/my-overlays/overlay-default-preview-2.jpg"
            }
          }
          ```

          ### - cheer
          ```json
          {
            "type": "cheer",
            "provider": "twitch",
            "data": {
              "amount": 100,
              "username": "MrSim",
              "message": "This is a message", // optional
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - raid
          ```json
          {
            "type": "raid",
            "provider": "twitch",
            "data": {
              "amount": 3500,
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - charityCampaignDonation
          ```json
          {
            "type": "charityCampaignDonation",
            "provider": "twitch",
            "data": {
              "amount": 3, // value
              "currency": "EUR" // or any other currency
              "username": "mrsim",
              "displayName": "MrSim", // optional
              "avatar": "https://link/to/image.png" //optional
            }
          }
          ``` 

          ### - host
          _Host does not exist anymore on Twitch_
          ```json
          {
            "type": "host",
            "provider": "twitch",
            "data": {
              "amount": 10,
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ## Youtube
          ### - subscriber
          ```json
          {
            "type": "subscriber",
            "provider": "youtube",
            "data": {
              "avatar": "https://link/to/image.png", // optional
              "displayName": "MrSim", // optional
              "username": "mrsim"
            }
          }
          ``` 

          ### - member (sponsor)
          ```json
          {
            "type": "sponsor",
            "provider": "youtube",
            "data": {
              "amount": 3,
              "avatar": "https://link/to/image.png",
              "username": "mrsim", // either subscriber or gifted user
              "gifted": true, // subgifts only
              "sender": "MrGifter", // gifts and community gifts only
              "message": "This is a message" // renew member only
            }
          }

          ``` 

          ### - superchat
          ```json
          {
            "type": "superchat",
            "provider": "youtube",
            "data": {
              "amount": 10,
              "avatar": "https://link/to/image.png", // optional
              "displayName": "Conny", // optional
              "username": "conny"
            }
          }

          ``` 

          ## StreamElements
          ### - purchase
          ```json
          {
            "type": "purchase",
            "provider": "streamelements",
            "data": { // everything below is optional
              "username": "MrSim",
              "avatar": "https://link/to/image.png",
              "message": "This is a message",
              "items": [
                {
                  "name": "gloves",
                  "image": "https://link/to/image.png",
                  "price": 35,
                  "quantity": 1
                },
                {
                  "name": "t-shirt",
                  "image": "https://link/to/image.png",
                  "price": 80,
                  "quantity": 2
                }
              ]
            }
          }

          ``` 

          ### - tip
          _Use the tip endpoint instead, which takes care of posting in Activity feed itself._
          ```json

          ```    

          ### - redemption
          ```json
          {
            "type": "redemption",
            "provider": "streamelements",
            "data": { 
              "avatar": "https://link/to/image.png", // optional
              "message": "This is a new message", // optional
              "redemption": "Redemption name",
              "username": "mrsim",
              "displayName": "MrSim" // optional
            }
          }
          ```
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  enum:
                    - twitch
                    - youtube
                    - x
                    - trovo
                    - streamelements
                    - displate
                    - xsolla
                    - represent
                    - patreon
                    - fourthwall
                    - lunar
                    - facebook
                    - mixer
                  description: "Platform the mentioned activity is coming from. \r\n\r\nThat will create a link to the username on Activity Feed. Using `streamelements` removes the link"
                  example: twitch
                type:
                  type: string
                  enum:
                    - follow
                    - tip
                    - sponsor
                    - superchat
                    - host
                    - raid
                    - subscriber
                    - cheer
                    - redemption
                    - merch
                    - fan
                    - supporter
                    - follower
                    - stars
                    - share
                    - videolike
                    - sparks
                    - elixir
                    - purchase
                    - communityGiftPurchase
                    - charityCampaignDonation
                    - giveaway
                    - sponsorship
                  example: purchase
                data:
                  type: object
                  properties:
                    username:
                      type: string
                    avatar:
                      type: string
                      format: uri
                      example: 'https://cdn.streamelements.com/assets/homepage/SE_logo_396x309px_ground_control_page%403x.png'
                    message:
                      type: string
                      description: Message to be read by TTS
                    amount:
                      type: integer
                      format: int32
                  required:
                    - username
              required:
                - provider
                - type
            examples:
              Example:
                value:
                  provider: twitch
                  type: purchase
                  data:
                    username: customerName
                    avatar: 'https://link/to/image.png'
                    message: This is a message
                    items:
                      - name: gloves
                        image: 'https://link/to/image.png'
                        price: 35
                        quantity: 1
                      - name: t-shirt
                        image: 'https://link/to/image.png'
                        price: 80
                        quantity: 2
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: string
                example: Created
              examples:
                default:
                  value: Created
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: array
                          items:
                            type: string
                        message:
                          type: string
              examples:
                Example:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "provider" fails because ["provider" must be one of [twitch, youtube, facebook, mixer, trovo, displate, xsolla, represent, patreon, fourthwall, lunar, x, streamelements]]'
                    details:
                      - path:
                          - provider
                        message: '"provider" must be one of [twitch, youtube, facebook, mixer, trovo, displate, xsolla, represent, patreon, fourthwall, lunar, x, streamelements]'
      security:
        - JWT: []
        - OAuth2:
            - 'activities:read'
            - 'activities:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/activities/{channel}/top':
    get:
      tags:
        - activities
      summary: '/:channel/top'
      description: 'List the top cheerers or tippers in a period (alltime, months, weeks, session) '
      operationId: 'Get/:channel/top'
      parameters:
        - name: offset
          in: query
          description: integer - starting element
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 0
        - name: limit
          in: query
          description: integer - number of events
          style: form
          explode: true
          schema:
            type: integer
            format: int32
            example: 25
        - name: type
          in: query
          description: 'string - Possible values: cheer, tip'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: tip
        - name: period
          in: query
          description: 'string - Possible values: alltime, months, weeks, session'
          required: true
          style: form
          explode: true
          schema:
            type: string
            example: alltime
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    total:
                      type: integer
                    username:
                      type: string
              examples:
                Example:
                  value:
                    - total: 50
                      username: Thurman Borer
                    - total: 50
                      username: Demarco Okuneva
                    - total: 49
                      username: Mr. Emile Sawayn
                    - total: 49
                      username: Ilene Wiegand
                    - total: 49
                      username: Dr. Macey Lakin
                    - total: 48
                      username: Quinten Ondricka
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        path:
                          type: array
                          items:
                            type: string
                        message:
                          type: string
              examples:
                Example:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "limit" fails because ["limit" must be a number]. child "offset" fails because ["offset" must be a number]. child "period" fails because ["period" is not allowed to be empty, "period" must be one of [alltime, months, weeks, session]]. child "type" fails because ["type" is not allowed to be empty, "type" must be one of [cheer, tip]]'
                    details:
                      - path:
                          - limit
                        message: '"limit" must be a number'
                      - path:
                          - offset
                        message: '"offset" must be a number'
                      - path:
                          - period
                        message: '"period" is not allowed to be empty'
                      - path:
                          - period
                        message: '"period" must be one of [alltime, months, weeks, session]'
                      - path:
                          - type
                        message: '"type" is not allowed to be empty'
                      - path:
                          - type
                        message: '"type" must be one of [cheer, tip]'
      deprecated: false
      security:
        - JWT: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/activities/{channel}/mock':
    post:
      tags:
        - activities
      summary: '/:channel/mock'
      description: Mock events
      operationId: 'Post/activities/:channel/mock'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: |
          Each `type` requires different `data` object. Here are some examples:

          ## Twitch
          ### - follow
          ```json
          {
            "isMock": true,
            "type": "follow",  
            "provider": "twitch",
            "data": {
              "providerId": "1234567", // optional, but make sure to use the actual Twitch user ID
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ```

          ### - subscriber
          ```json
          {
            "isMock": true,
            "type": "subscriber",
            "provider": "twitch",
            "data": {
              "amount": 1,
              "message": "This is a message", // resubs only
              "username": "MrSim", // either subscriber or gifted user
              "sender": "MrGifter", // subgifts and community gifts only
              "gifted": true, // subgifts only
              "bulkGifted": true, // community gifts only
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - cheer
          ```json
          {
            "isMock": true,
            "type": "cheer",
            "provider": "twitch",
            "data": {
              "amount": 100,
              "username": "MrSim",
              "message": "This is a message", // optional
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - raid
          ```json
          {
            "isMock": true,
            "type": "raid",
            "provider": "twitch",
            "data": {
              "amount": 3500,
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ### - charityCampaignDonation
          ```json
          {
            "isMock": true,
            "type": "charityCampaignDonation",
            "provider": "twitch",
            "data": {
              "amount": 3, // value
              "currency": "EUR" // or any other currency
              "username": "mrsim",
              "displayName": "MrSim", // optional
              "avatar": "https://link/to/image.png" //optional
            }
          }
          ``` 

          ### - host
          _Host does not exist anymore on Twitch_
          ```json
          {
            "isMock": true,
            "type": "host",
            "provider": "twitch",
            "data": {
              "amount": 10,
              "username": "MrSim",
              "avatar": "https://link/to/image.png" // optional
            }
          }
          ``` 

          ## Youtube
          ### - subscriber
          ```json
          {
            "isMock": true,
            "type": "subscriber",
            "provider": "youtube",
            "data": {
              "avatar": "https://link/to/image.png", // optional
              "displayName": "MrSim", // optional
              "username": "mrsim"
            }
          }
          ``` 

          ### - member (sponsor)
          ```json
          {
            "isMock": true,
            "type": "sponsor",
            "provider": "youtube",
            "data": {
              "amount": 3,
              "avatar": "https://link/to/image.png",
              "username": "mrsim", // either subscriber or gifted user
              "gifted": true, // subgifts only
              "sender": "MrGifter", // gifts and community gifts only
              "message": "This is a message" // renew member only
            }
          }

          ``` 

          ### - superchat
          ```json
          {
            "isMock": true,
            "type": "superchat",
            "provider": "youtube",
            "data": {
              "amount": 10,
              "avatar": "https://link/to/image.png", // optional
              "displayName": "Conny", // optional
              "username": "conny"
            }
          }

          ``` 

          ## StreamElements
          ### - purchase
          ```json
          {
            "isMock": true,
            "type": "purchase",
            "provider": "streamelements",
            "data": { // everything below is optional
              "username": "MrSim",
              "avatar": "https://link/to/image.png",
              "message": "This is a message",
              "items": [
                {
                  "name": "gloves",
                  "image": "https://link/to/image.png",
                  "price": 35,
                  "quantity": 1
                },
                {
                  "name": "t-shirt",
                  "image": "https://link/to/image.png",
                  "price": 80,
                  "quantity": 2
                }
              ]
            }
          }

          ``` 

          ### - tip
          ```json
          {
            "isMock": true,
            "provider": "streamelements",
            "type": "tip",
            "data": {
              "amount": 10,
              "avatar": "https://link/to/image.png", // optional
              "displayName": "MrSim", // optional
              "username": "mrsim",
              "message": "This is a test message" // optional
            }
          }          
          ```    

          ### - redemption
          ```json
          {
            "isMock": true,
            "type": "redemption",
            "provider": "streamelements",
            "data": { 
              "avatar": "https://link/to/image.png", // optional
              "message": "This is a new message", // optional
              "redemption": "Redemption name",
              "username": "mrsim",
              "displayName": "MrSim" // optional
            }
          }
          ```       
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  enum:
                    - twitch
                    - youtube
                    - facebook
                    - mixer
                    - trovo
                    - displate
                    - xsolla
                    - represent
                    - patreon
                    - fourthwall
                    - lunar
                    - x
                    - streamelements
                  description: "Platform the mentioned activity is coming from.\r\n\r\nThat will create a link to the username on Activity Feed. Using `streamelements` removes the link"
                isMock:
                  type: boolean
                  description: Set it to true
                type:
                  type: string
                  enum:
                    - follow
                    - tip
                    - sponsor
                    - superchat
                    - host
                    - raid
                    - subscriber
                    - cheer
                    - redemption
                    - merch
                    - fan
                    - supporter
                    - follower
                    - stars
                    - share
                    - videolike
                    - sparks
                    - elixir
                    - purchase
                    - communityGiftPurchase
                    - charityCampaignDonation
                    - giveaway
                data:
                  type: object
                  properties:
                    username:
                      type: string
                    avatar:
                      type: string
                      format: uri
                      example: 'https://cdn.streamelements.com/assets/homepage/SE_logo_396x309px_ground_control_page%403x.png'
                    message:
                      type: string
                      description: Message to be read by TTS
                    amount:
                      type: integer
                      format: int32
                  required:
                    - username
              required:
                - provider
                - isMock
                - type
            examples:
              Example 1:
                value:
                  isMock: true
                  type: cheer
                  provider: twitch
                  data:
                    amount: 100
                    username: MrSim
                    message: This is a message
                    avatar: 'https://link/to/image.png'
      responses:
        '201':
          description: Created
          content:
            text/plain:
              schema:
                type: string
              examples:
                Example:
                  value: Created
      security:
        - JWT: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/activities/{channel}/{activityId}':
    get:
      tags:
        - wonky - not working
      summary: '/:channel/:activityId'
      description: Get activity details by id
      operationId: 'Get/:channel/:activityId'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success'
              examples:
                default:
                  value:
                    data:
                      username: Hellen Rohan
                      amount: 28
                      message: ''
                      tier: '2000'
                      avatar: 'https://cdn.streamelements.com/static/default-avatar.png'
                    provider: twitch
                    _id: 5c09463bde9a4c2d6ea14b81
                    type: cheer
                    channel: 5b2e2007760aeb7729487dab
                    createdAt: '2018-12-06T01:03:03.148Z'
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:28:46 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '287'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "activityId" fails because ["activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                    details:
                      - path:
                          - activityId
                        message: '"activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
      security:
        - JWT: []
        - OAuth2: []
        - overlayToken: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
    post:
      tags:
        - wonky - not working
      summary: '/:channel/:activityId'
      description: Update activity id
      operationId: 'Post/:channel/:activityId1'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "activityId" fails because ["activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/]'
                    details:
                      - path:
                          - activityId
                        message: '"activityId" with value "test" fails to match the required pattern: /^[0-9a-fA-F]{24}$/'
      security:
        - JWT: []
        - OAuth2: []
        - overlayToken: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/activities/{channel}/{activityId}/replay':
    post:
      tags:
        - activities
      summary: '/:channel/:activityId/replay'
      description: Replay activity
      operationId: 'Post/:channel/:activityId/replay'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: activityId
          in: path
          description: guid - Activity id
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success3'
              examples:
                default:
                  value:
                    success: true
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'activities:read'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}':
    get:
      tags:
        - bot
      summary: '/:channel'
      description: Get bot info
      operationId: 'Get/bot/:channel'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotSettings'
              examples:
                default:
                  value:
                    bot:
                      enabled: true
                      name: streamelements
                      joined: false
                      muted: false
                      mod: false
                      allowCustomName: false
                      language: en
                      channel: 5b2e2007760aeb7729487dab
                      logs: []
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:31:00 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '176'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/join':
    post:
      tags:
        - bot
      summary: '/:channel/join'
      description: Join bot to channel
      operationId: '/:channel/join'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotJoinResponse'
              examples:
                default:
                  value:
                    status: 200
                    channel: 5b2e2007760aeb7729487dab
                    message: successfully joined your channel
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/channel_redemptions_itemId'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: The bot is already in your channel
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/part':
    post:
      tags:
        - bot
      summary: '/:channel/part'
      description: Leave bot from channel
      operationId: '/:channel/part'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotJoinResponse'
              examples:
                default:
                  value:
                    status: 200
                    channel: 5b2e2007760aeb7729487dab
                    message: successfully parted your channel
        '400':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: The bot is not in your channel
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/mute':
    post:
      tags:
        - bot
      summary: '/:channel/mute'
      description: Mute bot
      operationId: '/:channel/mute'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotJoinResponse'
              examples:
                default:
                  value:
                    status: 200
                    channel: 5b2e2007760aeb7729487dab
                    message: Muted the bot in your channel
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/channel_redemptions_itemId'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: The bot is already muted in your channel
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/unmute':
    post:
      tags:
        - bot
      summary: '/:channel/unmute'
      description: Unmute bot
      operationId: '/:channel/unmute'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/BotJoinResponse'
              examples:
                default:
                  value:
                    status: 200
                    channel: 5b2e2007760aeb7729487dab
                    message: Unmuted the bot in your channel
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/channel_redemptions_itemId'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: The bot is currently not muted
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/say':
    post:
      tags:
        - bot
      summary: '/:channel/say'
      description: Send message to channel as bot
      operationId: '/:channel/say'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channel_sayrequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                  channel:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    status: 200
                    channel: 5f2de5dd9a474a2c2dc4d0ab
                    message: Hello! I am here to help!
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/language':
    post:
      tags:
        - bot
      summary: '/:channel/language'
      description: Set bot language
      operationId: '/:channel/language'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: "```{ \"language\": languageCode }```\r\n\r\nAvailable values for `languageCode`:\r\n\r\n- en\r\n- ru\r\n- de\r\n- fr\r\n- es\r\n- it\r\n- pt-BR\r\n- pt\r\n- pl\r\n- tr\r\n- ko\r\n- hu"
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/channel_languagerequest'
      responses:
        '200':
          description: ''
          content:
            text/plain:
              schema:
                type: string
              examples:
                Example 1:
                  value: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400-badrequest'
              examples:
                default:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: 'child "language" fails because ["language" length must be 2 characters long]'
                    details:
                      - path:
                          - language
                        message: '"language" length must be 2 characters long'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/users':
    get:
      tags:
        - bot
      summary: '/:channel/users'
      description: List channel permissions for users in User Management table
      operationId: 'Get/:channel/users'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        channelId:
                          type: string
                        providerId:
                          type: string
                        name:
                          type: string
                        displayName:
                          type: string
                        lastMessage:
                          type: string
                        lastMessageAt:
                          type: string
                          format: date-time
                        level:
                          type: integer
                        fixedLevel:
                          type: boolean
                        avatarUrl:
                          type: string
              examples:
                Example:
                  value:
                    users:
                      - channelId: 2de5f5dd9a0474a2c2dabdc4
                        providerId: '128070065'
                        name: testuser
                        displayName: testUser
                        lastMessage: This is my last message
                        lastMessageAt: '2024-12-03T12:24:00Z'
                        level: 500
                        fixedLevel: true
                        avatarUrl: 'https://static-cdn.jtvnw.net/jtv_user_pictures/test-profile_image-300x300.png'
                      - channelId: 2de5f5dd9a0474a2c2dabdc4
                        providerId: '128070066'
                        name: testuser
                        displayName: testUser2
                        lastMessage: Bye
                        lastMessageAt: '2024-12-03T12:24:00Z'
                        level: 500
                        fixedLevel: true
                        avatarUrl: 'https://static-cdn.jtvnw.net/jtv_user_pictures/test2-profile_image-300x300.png'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
    post:
      tags:
        - bot
      summary: '/:channel/users'
      description: 'Add user to permissions table. If user is already set, change its permission.'
      operationId: 'Post/:channel/users'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      requestBody:
        description: "```js\r\n{ \r\n  \"providerId\": \"100135110\",\r\n  \"level\": 500 \r\n}\r\n```\r\n\r\n`providerId` is the user id from service provider (i.e.: Twitch User ID / Youtube channel ID). \r\n\r\n**Available levels:**\r\n\r\n`100`: Normal user (default value)\r\n\r\n`250`: Subscriber (automatically set for subscribers)\r\n\r\n`300`: Regular\r\n\r\n`400`: VIP (automatically set for VIPs)\r\n\r\n`500`: Moderator (automatically set for moderators)\r\n\r\n`1000`: Supermod\r\n\r\n**OBS**: If `level` is not included in the body, the user is removed from permission table."
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  type: string
                level:
                  type: integer
            examples:
              Example 1:
                value:
                  providerId: '1234567'
                  level: 500
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
              examples:
                Example:
                  value: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    statusCode: 400
                    error: Bad Request
                    message: '[not_found] user not found'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/users/{providerId}':
    delete:
      tags:
        - bot
      summary: '/:channel/users/:providerId'
      description: "Remove user from permission table\r\n\r\n`providerId` is the ID from service provider (Twitch user ID, youtube channel ID, etc...)"
      operationId: 'Delete/:channel/users/:providerId'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: providerId
          in: path
          description: ID from service provider
          required: true
          schema:
            type: string
            example: '100135110'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
              examples:
                Example:
                  value:
                    statusCode: 201
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 13:20:25 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '52'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/counters':
    get:
      tags:
        - bot
      summary: '/:channel/counters'
      description: Get list of counters and their values
      operationId: 'Get/:channel/counters'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    count:
                      type: integer
              examples:
                Example:
                  value:
                    - id: testcounter
                      count: 31
                    - id: assists
                      count: 15
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Sat, 08 Dec 2018 09:39:57 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '35'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/bot/{channel}/counters/{counter}':
    get:
      tags:
        - bot
      summary: '/:channel/counters/:counter'
      description: Get counter value
      operationId: 'Get/:channel/counters/:counter'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
        - name: counter
          in: path
          description: string - Counter name
          required: true
          style: simple
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/Success27'
              examples:
                default:
                  value:
                    counter: testcounter
                    value: 1
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Sat, 08 Dec 2018 09:39:57 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '35'
      deprecated: false
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
    put:
      tags:
        - bot
      summary: '/:channel/counters/:counter'
      description: Update counter value
      operationId: 'Put/:channel/counters/:counter'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          schema:
            type: string
        - name: counter
          in: path
          description: string - counter name
          required: true
          schema:
            type: string
            example: testcounter
          examples:
            default:
              value: testcounter
      requestBody:
        description: "`count` is the value to be added to the current counter\r\n\r\n- Postive values will increase the count value\r\n\r\n- Negative values will decrease the count value"
        content:
          application/json:
            schema:
              type: object
              properties:
                count:
                  type: integer
            examples:
              Example:
                value:
                  count: 1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  count:
                    type: integer
              examples:
                Example:
                  value:
                    id: testcounter
                    count: 12
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
    delete:
      tags:
        - bot
      summary: '/:channel/counters/:counter'
      description: Delete counter
      operationId: 'Delete/:channel/counters/:counter'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          schema:
            type: string
        - name: counter
          in: path
          description: string - counter name
          required: true
          schema:
            type: string
            example: testcounter
          examples:
            default:
              value: testcounter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  count:
                    type: integer
              examples:
                Example:
                  value:
                    id: testcounter
                    count: 0
      security:
        - JWT: []
        - OAuth2:
            - 'bot:read'
            - 'bot:write'
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  /channels/me:
    get:
      tags:
        - channels
      summary: /me
      description: Get channels details linked to provided token
      operationId: Get/me
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile:
                    type: object
                    properties:
                      title:
                        type: string
                      headerImage:
                        type: string
                  _id:
                    type: string
                  provider:
                    type: string
                  broadcasterType:
                    type: string
                  suspended:
                    type: boolean
                  providerId:
                    type: string
                  email:
                    type: string
                  avatar:
                    type: string
                  type:
                    type: string
                  apiToken:
                    type: string
                  username:
                    type: string
                  alias:
                    type: string
                  displayName:
                    type: string
                  accessToken:
                    type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        user:
                          type: string
                        role:
                          type: string
                        providerId:
                          type: string
                  ab:
                    type: object
                    properties:
                      use-third-party-activities:
                        type: string
                      obslive_widgets:
                        type: string
                      newNavigation:
                        type: string
                      myOverlaysV2:
                        type: string
                      share-overlay:
                        type: string
                      widgets-v2:
                        type: string
                      chatbot-votekick:
                        type: string
                      af-multiplatform:
                        type: string
                  createdAt:
                    type: string
                  updatedAt:
                    type: string
                  country:
                    type: string
                  lastLogin:
                    type: string
                  scopesBitmask:
                    type: integer
                  authorized:
                    type: boolean
                  inactive:
                    type: boolean
                  isPartner:
                    type: boolean
                  providerTotals:
                    type: object
                    properties:
                      follower-total:
                        type: integer
                  features:
                    type: object
                    properties:
                      g2a.countries:
                        type: string
                      sepayCountries:
                        type: string
                      paypalMicroCurrencies:
                        type: string
                      paypalMicroCountries:
                        type: string
                      zendeskFollowersMin:
                        type: string
                      zendeskActive:
                        type: string
                      donatepay.countries:
                        type: string
                      zd.show:
                        type: string
                      donatepay.providers:
                        type: string
                      disableMerch:
                        type: string
                      merchBlocklist:
                        type: string
                      showChristmas:
                        type: string
                      heartbeat.sampleRate:
                        type: string
                  geo:
                    type: string
              examples:
                Example:
                  value:
                    profile:
                      title: username's profile
                      headerImage: 'https://cdn.streamelements.com/uploads/example-image.png'
                    _id: da2ca2df2c4d05de5d9a474b
                    provider: twitch
                    broadcasterType: affiliate
                    suspended: false
                    providerId: '123456'
                    email: example@email.com
                    avatar: 'https://static-cdn.jtvnw.net/jtv_user_pictures/example-profile_image-300x300.png'
                    type: streamer
                    apiToken: YXXXXC0KODH28jF0NnFEZ-v3tNBP5JK9h7ESo8Os4
                    username: username
                    alias: username
                    displayName: username
                    accessToken: yaaaaqf1jm211y3aj8qw8ioris0qaj
                    users:
                      - _id: 5fd9af5c42dea255dd0a474a
                        user: 5fd9af5c42dea255dd0a474a
                        role: owner
                        providerId: '123456'
                      - user: 60868a7654f946911da161ab
                        role: administrator
                      - user: 7f1470e02085edf09a8fa82d
                        role: editor
                    ab:
                      use-third-party-activities: '1'
                      obslive_widgets: '1'
                      newNavigation: '1'
                      myOverlaysV2: '1'
                      share-overlay: '1'
                      widgets-v2: '1'
                      chatbot-votekick: '1'
                      af-multiplatform: '1'
                    createdAt: '2020-08-07T23:38:05.630Z'
                    updatedAt: '2024-12-03T10:54:14.669Z'
                    country: IE
                    lastLogin: '2024-12-03T10:54:14.667Z'
                    scopesBitmask: 67038047
                    authorized: true
                    inactive: false
                    isPartner: true
                    providerTotals:
                      follower-total: 97500
                    features:
                      g2a.countries: AX
                      sepayCountries: 'CA,AU,US,DE,FR,AT,BE,IE,NL,PT,ES,FI,GB,PL,CZ,CH,IT,SE,DK,SK,NO,RO'
                      paypalMicroCurrencies: xxx_disabled
                      paypalMicroCountries: xx_disabled
                      zendeskFollowersMin: '500'
                      zendeskActive: '1'
                      donatepay.countries: 'RU,AZ,BY,KZ,KG,AM,MD,TJ,UZ,UA'
                      zd.show: semerch
                      donatepay.providers: 'twitch,mixer,youtube'
                      disableMerch: 'false'
                      merchBlocklist: ID
                      showChristmas: 'false'
                      heartbeat.sampleRate: '1.00'
                    geo: IE
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:17:03 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '920'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    statusCode: 401
                    error: Unauthorized
                    message: Not allowed to perform this operation
      deprecated: false
      security:
        - JWT: []
        - OAuth2: []
        - overlayToken: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/channels/{channel}':
    get:
      tags:
        - channels
      summary: '/:channel'
      description: Get channel details for provided channel ID or channel name
      operationId: 'Get/channels/:channel'
      parameters:
        - name: channel
          in: path
          description: String|guid - Channel name or channel id
          required: true
          style: simple
          schema:
            type: string
            example: leeeeex
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleChannelDetails'
              examples:
                Example:
                  value:
                    profile:
                      headerImage: 'https://cdn.streamelements.com/static/user/profile_header_default.png'
                      title: leeeeex's profile
                    provider: twitch
                    _id: 5b2e2007760aeb7729487dab
                    avatar: 'https://static-cdn.jtvnw.net/jtv_user_pictures/b21a7fa5-4f3f-4402-b68f-3545dcc68b90-profile_image-300x300.jpg'
                    username: leeeeex
                    alias: leeeeex
                    displayName: leeeeex
                    providerId: '85827806'
                    isPartner: false
                    broadcasterType: ''
                    inactive: false
                    suspended: false
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:43:19 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '444'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    statusCode: 404
                    error: Not Found
                    message: channel wrongchannel was not found
      deprecated: false
      security: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/channels/{channel}/details':
    get:
      tags:
        - channels
      summary: '/:channel/details'
      description: Get channel details
      operationId: 'Get/:channel/details'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelDetails'
              examples:
                Example:
                  value:
                    profile:
                      title: username's profile
                      headerImage: 'https://cdn.streamelements.com/uploads/example-image.png'
                    _id: 5f2de5dd9a474a2c2aaaaaaa
                    provider: twitch
                    broadcasterType: affiliate
                    suspended: false
                    providerId: '123456'
                    email: example@email.com
                    avatar: 'https://static-cdn.jtvnw.net/jtv_user_pictures/example-profile_image-300x300.png'
                    type: streamer
                    apiToken: YGwcODHyA28aeb5mdjF-AaaaaaaaAAAa
                    username: username
                    alias: username
                    displayName: username
                    accessToken: yc3aj0w8i7hjqfq8qaaaaaaaaaa
                    users:
                      - _id: 5f2de5dd9a474a2aaaaaaa
                        user: 5f2de5dd9a474a2aaaaaaa
                        role: owner
                        providerId: '123456'
                      - user: 601ab8a691da86654aaaaaaa
                        role: administrator
                      - user: 5edf7f08214709a8aaaaaaaa
                        role: editor
                    ab:
                      - name: use-third-party-activities
                        value: '1'
                      - name: obslive_widgets
                        value: '1'
                      - name: newNavigation
                        value: '1'
                      - name: myOverlaysV2
                        value: '1'
                      - name: share-overlay
                        value: '1'
                      - name: widgets-v2
                        value: '1'
                      - name: chatbot-votekick
                        value: '1'
                      - name: af-multiplatform
                        value: '1'
                    createdAt: '2020-08-07T23:38:05.630Z'
                    updatedAt: '2024-12-03T10:54:14.669Z'
                    country: IE
                    lastLogin: '2024-12-03T10:54:14.667Z'
                    scopesBitmask: 67038047
                    authorized: true
                    inactive: false
                    isPartner: true
          headers:
            Date:
              schema: {}
              examples:
                __default_content:
                  value: 'Fri, 07 Dec 2018 10:43:42 GMT'
            Content-Length:
              schema: {}
              examples:
                __default_content:
                  value: '874'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                  error:
                    type: string
                  message:
                    type: string
              examples:
                Example:
                  value:
                    statusCode: 403
                    error: Forbidden
                    message: Not allowed to perform this operation
      deprecated: false
      security:
        - JWT: []
        - OAuth2: []
      servers:
        - url: 'https://api.streamelements.com/kappa/v2'
          description: V2
        - url: 'https://api.streamelements.com/kappa/v3'
          description: V3
  '/channels/{channel}/emotes':
    get:
      tags:
        - emotes
      summary: '/:channel/emotes'
      description: 'Get emotes that can be used on channel (twitch, bttv, ffz)'
      operationId: 'Get/channels/:channel/emotes'
      parameters:
        - name: channel
          in: path
          description: guid - Channel id
          required: true
          style: simple
          schema:
            type: string
            example: 5b2e2007760aeb7729487dab
      responses:
        '200':
          description: ''
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ChannelEmotes'
              examples:
                default:
                  value:
                    bttvChannelEmotes:
                      gachiBASS:
                        _id: 57719a9a6bdecd592c3ad59b
                        name: gachiBASS
                        type: bttv
                        width: 28
                        height: 28
                        gif: true
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/1x'
                          '2': 'https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/2x'
                          '4': 'https://cdn.betterttv.net/emote/57719a9a6bdecd592c3ad59b/3x'
                    bttvGlobalEmotes:
                      (chompy):
                        _id: 550b225fff8ecee922d2a3b2
                        name: (chompy)
                        type: bttv
                        width: 28
                        height: 28
                        gif: true
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/1x'
                          '2': 'https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/2x'
                          '4': 'https://cdn.betterttv.net/emote/550b225fff8ecee922d2a3b2/3x'
                      (poolparty):
                        _id: 5502883d135896936880fdd3
                        name: (poolparty)
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/5502883d135896936880fdd3/1x'
                          '2': 'https://cdn.betterttv.net/emote/5502883d135896936880fdd3/2x'
                          '4': 'https://cdn.betterttv.net/emote/5502883d135896936880fdd3/3x'
                      (puke):
                        _id: 550288fe135896936880fdd4
                        name: (puke)
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/550288fe135896936880fdd4/1x'
                          '2': 'https://cdn.betterttv.net/emote/550288fe135896936880fdd4/2x'
                          '4': 'https://cdn.betterttv.net/emote/550288fe135896936880fdd4/3x'
                      ':''(':
                        _id: 55028923135896936880fdd5
                        name: ':''('
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/55028923135896936880fdd5/1x'
                          '2': 'https://cdn.betterttv.net/emote/55028923135896936880fdd5/2x'
                          '4': 'https://cdn.betterttv.net/emote/55028923135896936880fdd5/3x'
                      ':tf:':
                        _id: 54fa8f1401e468494b85b537
                        name: ':tf:'
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fa8f1401e468494b85b537/3x'
                      AngelThump:
                        _id: 566ca1a365dbbdab32ec055b
                        name: AngelThump
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/1x'
                          '2': 'https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/2x'
                          '4': 'https://cdn.betterttv.net/emote/566ca1a365dbbdab32ec055b/3x'
                      BaconEffect:
                        _id: 54fbf05a01abde735115de5e
                        name: BaconEffect
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fbf05a01abde735115de5e/3x'
                      BadAss:
                        _id: 54faa4f101e468494b85b577
                        name: BadAss
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/1x'
                          '2': 'https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/2x'
                          '4': 'https://cdn.betterttv.net/emote/54faa4f101e468494b85b577/3x'
                      BasedGod:
                        _id: 566c9eeb65dbbdab32ec052b
                        name: BasedGod
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/1x'
                          '2': 'https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/2x'
                          '4': 'https://cdn.betterttv.net/emote/566c9eeb65dbbdab32ec052b/3x'
                      BatKappa:
                        _id: 550b6b07ff8ecee922d2a3e7
                        name: BatKappa
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/1x'
                          '2': 'https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/2x'
                          '4': 'https://cdn.betterttv.net/emote/550b6b07ff8ecee922d2a3e7/3x'
                      Blackappa:
                        _id: 54faa50d01e468494b85b578
                        name: Blackappa
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/1x'
                          '2': 'https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/2x'
                          '4': 'https://cdn.betterttv.net/emote/54faa50d01e468494b85b578/3x'
                      BroBalt:
                        _id: 54fbf00a01abde735115de5c
                        name: BroBalt
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fbf00a01abde735115de5c/3x'
                      ButterSauce:
                        _id: 54fbf02f01abde735115de5d
                        name: ButterSauce
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fbf02f01abde735115de5d/3x'
                      CHAccepted:
                        _id: 54fa8fb201e468494b85b53b
                        name: CHAccepted
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fa8fb201e468494b85b53b/3x'
                      CandianRage:
                        _id: 54fbf09c01abde735115de61
                        name: CandianRage
                        type: bttv
                        width: 28
                        height: 28
                        gif: false
                        urls:
                          '1': 'https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/1x'
                          '2': 'https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/2x'
                          '4': 'https://cdn.betterttv.net/emote/54fbf09c01abde735115de61/3x'
                      CiGrip:
                        _id: 54fa8fce01e468494b85b53c
                        name: CiGrip
                        type: bttv
[...]
